{% extends 'base.html' %}
{% load bootstrap_toolkit %}
{% block active4 %}active{% endblock %}
{% block section1 %}
	<h2>Actividad reciente</h2>
		<table class='table table-striped'>
			<thead>
				<tr>
			      <th>Asistente</th>
			      <th>Alumno</th>
			      <th>Rubro</th>
			      <th>Fecha</th>
			      <th>Prestado</th>
			      <th>Detalles</th>
			    </tr>
			</thead>
			<tbody>
				<tr>
			      <td>…</td>
			      <td>…</td>
			      <td>…</td>
			      <td>…</td>
			      <td>…</td>
			      <td><a href="#">Ver</a></td>
			    </tr>
			    <tr>
			      <td>…</td>
			      <td>…</td>
			      <td>…</td>
			      <td>…</td>
			      <td>…</td>
			      <td><a href="#">Ver</a></td>
			    </tr>
			    <tr>
			      <td>…</td>
			      <td>…</td>
			      <td>…</td>
			      <td>…</td>
			      <td>…</td>
			      <td><a href="#">Ver</a></td>
			    </tr>
			</tbody>
		</table>
	
{% endblock %}
