{% extends 'base.html' %}
{% block active %}active{% endblock %}

{% block section1 %}
	<h1>S/. 2000.00</h1>
	<p>Saldo disponible y aumentando ...</p>
	<p><a class="btn btn-primary btn-large" href='/nuevo/'>Prestar..???</a>
		<a class="btn btn-success btn-large" href='/repanual/'>Reporte Anual</a>
	</p>
{% endblock %}

{% block section2 %}
<div class='row-fluid'>
	<div class='span3'></div>
	<div class='span9 well'>
		<div class='span3'><a href=""><h2>600 TOTAL</h2></a></div>
		<div class='span3'><a href=""><h2>500 DEBEN</h2></a></div>
		<div class='span3'><a href=""><h2>60 RECOGER</h2></a></div>
		<div class='span3'><a href=""><h2>40 CANCELADO</h2></a></div>
	</div>
</div>
{% endblock %}

{% block section3 %}
<div class='row-fluid'>
	<div class='span3'></div>
	<div class='span9'>
		<h1>Actividad reciente</h1>
		<table class='table table-striped'>
			<thead>
				<tr>
			      <th>Asistente</th>
			      <th>Alumno</th>
			      <th>Rubro</th>
			      <th>Fecha</th>
			      <th>Prestado</th>
			      <th>Detalles</th>
			    </tr>
			</thead>
			<tbody>
				<tr>
			      <td>…</td>
			      <td>…</td>
			      <td>…</td>
			      <td>…</td>
			      <td>…</td>
			      <td>…</td>
			    </tr>
			    <tr>
			      <td>…</td>
			      <td>…</td>
			      <td>…</td>
			      <td>…</td>
			      <td>…</td>
			      <td>…</td>
			    </tr>
			    <tr>
			      <td>…</td>
			      <td>…</td>
			      <td>…</td>
			      <td>…</td>
			      <td>…</td>
			      <td>…</td>
			    </tr>
			</tbody>
		</table>
	</div>
</div>
{% endblock %}
